/******************************************************/
/*	SOME CSS RESET */
/******************************************************/

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:focus, a:hover{
    text-decoration: none;
    outline: none;
}


/******************************************************/
/*	SOME HELPERS */
/******************************************************/

.circle{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

.relative{
    position: relative;
}

/******************************************************/
/*	GENERAL STYLE FLOW */
/******************************************************/
body {
    font-family: 'Roboto', serif;
    color: #333;
}

.application{
    background: #d5d5d5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.login-content-wrap{
    width: 500px;
    margin: auto;
    margin-top: 15%;
}
.registration-success-message{
    margin-bottom: 15px;
}

.login-form-container{
    padding: 30px;
    width: 100%;
    margin: auto;
    background: #fafafa;
    box-shadow: 0px 0px 15px -4px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}

.box-title{
    display: block;
}
.headline{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}

hr.alt{
    margin-top: 10px;
}
/* dashboard-header */

.dashboard-header{
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #245269;
}

a.brand span.fa, a.brand{
    color: #ffffff;
}

span.brand-title{
    font-size: 18px;
    font-weight: bold;
}
/* sidebar */

.sidebar{
    min-height: 900px;
    background: #0a0a0a;
    border-right: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f7f7f7;
}

.user-profile-img{
    background: #3e8f3e;
    border: 2px solid #eee;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 9px;
    display: inline-block;
}
.user-name{
    font-size: 18px;
    line-height: 1.2;
    margin-left: 8px;
    display: inline-block;
    padding: 2px;
    text-transform: uppercase;
}

/*sidebar-navigation*/

ul.sidebar-nav{
    margin-left: -15px;
    margin-right: -15px;
}

ul.sidebar-nav li{
    display: block;
    border-bottom: 1px solid #2a2a2a;
    background: #111111;
}

ul.sidebar-nav li:first-child{
    border-top: 2px solid #2a2a2a;
}


ul.sidebar-nav li a{
    display: block;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #f7f7f7;
}

ul.sidebar-nav li a .fa{
    margin-right: 8px;
    color: #5e5e5e;
}


/*main-content*/
.main-content{
    background: #f7f7f7;
    min-height: 900px;
    padding-top: 15px;
    padding-bottom: 15px;
}

table > tfoot{
    background: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}
table > tfoot p{
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5px;
    color: #5e5e5e;

}

/* question page */

.question-block{
    padding-left: 15px;
}


ul.question{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.question-block input[type="submit"]{
    margin-left: 15px;
}


footer{
    padding: 15px 15px 5px 15px;
    background: #c7c7c7;
    border-top: #eeeeee;
}




/******************************************************/
/*	ADMIN PAGES STYLE */
/******************************************************/

.form-wrapper{
  /*  background: #883322; */
  /*  background: rgba(33, 44, 44, 0.8); */
    background: #3c3c3c;
    padding: 15px;
    display: block;
    color: #ffffff;
}

a.edit-link .label, a.delete-link .label{
    cursor: pointer;
}

.op-message{
    margin-top: 10px;
}

#add_answer label, #edit_answer label{
    margin-left: 5px;
    margin-right: 10px;
}

