
                <!-- dashboard -->
                <div class="row dashboard">
                    <!-- dashboard-header -->
                        <div ng-include="'partials/header.html'"></div>
                    <!-- /dashboard-header -->
                    <div class="clearfix"></div>
                    <!-- sidebar-content -->
                    <div ng-include="'admin/partials/admin-sidebar.html'"></div>
                    <!-- /sidebar -->
                    <!-- main-content -->

                    <div class="col-sm-9 main-content" ng-controller="subjectArea">


                        <div class="box-title">
                            <span class="headline">Subjects List </span>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="alt">
                        <div class="clearfix"></div>

                        <div class="table-responsive" style="max-height: calc(100vh - 361px); margin-bottom: 30px;  overflow-y: auto;">
                            <table class="table table-condensed table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No</th>
                                    <th>Subject</th>
                                    <th>Scale</th>
                                    <th>Duration</th>
                                    <th>Total Question</th>
                                    <th colspan="2">Actions</th>
                                </tr>

                                </thead>

                                <tbody>

                                <tr ng-repeat="subject in subjects">
                                    <td>{{ $index+1 }}</td>
                                    <td><a href="#/admin/{{subject.id}}/question-management" title="Add Questions">{{ subject.title}}</a></td>
                                    <td>{{ subject.scale }}</td>
                                    <td>{{ subject.total_question }}</td>
                                    <td>{{ subject.test_duration }}</td>
                                    <td><a ng-click="editSubject($index);" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                    <td><a ng-click="deleteSubject($index);" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                                </tr>

                                </tbody>

                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <p>*note: Click on a subject to add some question on it.</p>
                                    </td>
                                </tr>
                                </tfoot>

                            </table>
                        </div>




                        <div class="clearfix"></div>

                        <!-- add-subject-form -->

                        <div class="form-wrapper"  ng-hide="showEditForm">

                            <div class="box-title">
                                <span class="headline">Add New Subject</span>

                                <span class="pull-right" ng-include="'admin/action-message.html'"></span>

                            </div>
                            <div class="clearfix"></div>
                            <hr class="alt">
                            <div class="clearfix"></div>


                            <form class="form-inline" name="add-subject" id="add-subject" ng-submit="addSubject();">
                                <div class="form-group">
                                    <input type="text"
                                           name="subject_name"
                                           ng-model="subject_name"
                                           required
                                           class="form-control input-sm"
                                           placeholder="Subject Name"
                                    />

                                </div>
                                <div class="form-group">
                                    <input
                                            type="text"
                                            name="subject_scale"
                                            ng-model="subject_scale"
                                            required
                                            class="form-control input-sm"
                                            placeholder="Scale / Grade"
                                    />

                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           name="total_question"
                                           ng-model="total_question"
                                           required
                                           class="form-control input-sm"
                                           placeholder="Total question"
                                    />

                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           name="test_duration"
                                           ng-model="test_duration"
                                           required
                                           class="form-control input-sm"
                                           placeholder="Duration in min"
                                    />

                                </div>
                                <div class="form-group">
                                    <input type="submit" name="add_subject" class="btn btn-sm btn-success" value="Add Subject" />
                                </div>



                            </form>
                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>



                        <div class="form-wrapper" ng-show="showEditForm">

                            <div class="box-title">
                                <span class="headline">Edit Subject</span>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="alt">
                            <div class="clearfix"></div>


                            <form class="form-inline" id="edit-subject" ng-submit="updateSubject(updateIndex);">
                                <div class="form-group">
                                    <input type="text" name="subject_name" required ng-model="subject_name" class="form-control input-sm" placeholder="Subject Name" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject_scale" required  ng-model="subject_scale" class="form-control input-sm" placeholder="Scale / Grade" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="total_question" required  ng-model="total_question" class="form-control input-sm" placeholder="Total question" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="test_duration" required  ng-model="test_duration" class="form-control input-sm" placeholder="Duration in min" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="add_subject" class="btn btn-sm btn-success" value="Update" />
                                </div>



                            </form>
                            <div class="clearfix"></div>

                        </div>

                    </div>
                    <!-- /main-content -->
                    <div class="clearfix"></div>

                    <footer ng-include="'partials/footer.html'">
                    </footer>

                </div>
                <!-- /dashboard -->
                <div class="clearfix"></div>
