
                <!-- dashboard -->
                <div class="row dashboard">
                    <!-- dashboard-header -->
                    <div ng-include="'partials/header.html'"></div>
                    <!-- /dashboard-header -->
                    <div class="clearfix"></div>
                    <!-- sidebar-content -->
                    <div ng-include="'admin/partials/admin-sidebar.html'"></div>
                    <!-- /sidebar -->
                    <!-- main-content -->

                    <div class="col-sm-9 main-content" ng-controller="QuestionArea">


                        <div class="box-title">
                            <span class="headline">{{subject.title}} Questions List</span>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="alt">
                        <div class="clearfix"></div>

                        <div class="table-responsive" style="max-height: calc(100vh - 361px); margin-bottom: 30px;  overflow-y: auto;">
                        <table class="table table-condensed table-responsive table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Sl. No</th>
                                <th>Question</th>
                                <th>Actions</th>
                            </tr>

                            </thead>

                            <tbody>
                            <tr ng-if="questions.length" ng-repeat="question in questions">
                                <td>{{ $index+1 }}</td>
                                <td><a href="#/admin/{{question.id}}/answer-management" title="Add Answer">{{ question.title }} ?</a></td>
                                <td>
                                    <a class="edit-link text-primary" href="#/admin/{{question.id}}/answer-management"><label class="label label-primary"><span class="fa fa-graduation-cap"></span> Answer Options</label></a>
                                    <a class="edit-link text-primary" ng-click="editQuestion($index);"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a>
                                    <a class="delete-link text-danger" ng-click="deleteQuestion($index);"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a>
                                </td>
                            </tr>
                            <tr ng-if="!questions.length">
                                <td colspan="3"> <h4 class="text-muted text-center">---- There is no question yet ! ----</h4></td>

                            </tr>

                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p>
                                        *note: Check the answer options either to add a new answer for that
                                        specific question or to check and modify the existing answers. You can
                                        also check the answer list for a question by clicking on it.
                                    </p>
                                </td>
                            </tr>
                            </tfoot>

                        </table>
                            </div>


                        <div class="clearfix"></div>

                        <!-- add-question-form -->

                       <!-- <div  ng-hide="showEditForm" ng-include="'forms/addQuestion.html'">
                        </div> -->

                        <div class="form-wrapper" ng-hide="showEditForm" >

                            <div class="box-title">
                                <span class="headline">Add New Question</span>

                                <span class="pull-right" ng-include="'admin/action-message.html'"></span>

                            </div>
                            <div class="clearfix"></div>
                            <hr class="alt">
                            <div class="clearfix"></div>


                            <form name="add_question" novalidate class="form-inline" id="add_question"
                                  ng-submit="add_question.$valid && addQuestion();">
                                <div class="form-group col-sm-12"
                                     ng-class="{ 'has-error': add_question.question_title.$touched && add_question.question_title.$invalid}">
                                    <div class="input-group">
                                        <input type="text"
                                               ng-model="question_title"
                                               required
                                               ng-minlength="10"
                                               name="q_title"
                                               class="form-control input-sm"
                                               style="width:100%;" placeholder="Question"/>
                                        <div class="input-group-addon" style="padding: 0; border: 0;">
                                            <input type="submit" name="submit_question" class="btn btn-sm btn-success"
                                                   value="Add Question"/>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="help-block"
                                         ng-messages="add_question.question_title.$error"
                                         ng-if="add_question.question_title.$touched">

                                        <div ng-messages-include="error-messages.html"></div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            <div class="clearfix"></div>

                        </div>

                        <!-- /add-question-form -->

                        <div class="clearfix"></div>

                        <!-- editQuestion form -->

                       <!-- <div  ng-show="showEditForm" ng-include="'forms/editQuestion.html'"></div> -->
                        <div class="form-wrapper" ng-show="showEditForm">

                            <div class="box-title">
                                <span class="headline">Edit Question</span>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="alt">
                            <div class="clearfix"></div>


                            <form name="edit_question" novalidate class="form-inline" id="edit_question" ng-submit="edit_question.$valid && updateQuestion(questionIndex);">
                                <div class="form-group col-sm-12"
                                     ng-class="{ 'has-error': edit_question.question_title.$touched && edit_question.question_title.$invalid}">
                                    <div class="input-group">
                                        <input type="text"
                                               ng-model="question_title"
                                               required
                                               ng-minlength="10"
                                               name="question_title"
                                               class="form-control input-sm"
                                               style="width:100%;" placeholder="Question" />
                                        <div class="input-group-addon" style="padding: 0; border: 0;">
                                            <input type="submit" name="submit_question" class="btn btn-sm btn-success" value="Update" />

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="help-block"
                                         ng-messages="edit_question.question_title.$error"
                                         ng-if="edit_question.question_title.$touched">

                                        <div ng-messages-include="admin/error-messages.html"></div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            <div class="clearfix"></div>

                        </div>


                        <!-- / editQuestion form -->



                    </div>
                    <!-- /main-content -->
                    <div class="clearfix"></div>

                    <footer>
                        <p>
                            &copy; 2016. All right Reserved
                            <span class="pull-right">Developed By: <strong>Jhon Doe</strong></span>
                        </p>
                    </footer>

                </div>
                <!-- /dashboard -->

                <div class="clearfix"></div>
            </div>



        </div>
    </div>

</section>

<!-- /application section -->

</body>
</html>