<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
    <title>Online Exam System</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular-1.5.8/angular.js"></script>
    <script src="../js/angular-1.5.8/angular-route.min.js"></script>
    <script src="../js/myapp.js"></script>
</head>
<body>
<!-- application section -->
<section class="application">

    <div class="container">
        <div class="row">


            <div class="col-sm-12" ng-app="MyApp">
                <!-- dashboard -->
                <div class="row dashboard">
                    <!-- dashboard-header -->
                    <div class="col-xs-12 dashboard-header">
                        <a href="#" class="brand">
                            <span class="fa fa-clipboard fa-2x"></span> <span class="brand-title">Online Exam System</span>
                        </a>

                    </div>
                    <!-- /dashboard-header -->
                    <div class="clearfix"></div>
                    <!-- sidebar-content -->
                    <div class="col-sm-3 sidebar">
                        <div class="user-icon">
                            <div class="user-profile-img circle">
                                <span class="fa fa-user fa-2x"></span>
                            </div>
                            <span class="user-name">Jhon Doe</span>
                        </div>
                        <div class="clearfix"></div>

                        <hr class="alt">

                        <div class="clearfix"></div>

                        <ul class="sidebar-nav">
                            <li><a href="manage-user.html"><span class="fa fa-group"></span> User Accounts </a></li>
                            <li><a href="add-subject.html"><span class="fa fa-book"></span> Subjects </a></li>
                            <li><a href="#"><span class="fa fa-cogs"></span> Edit profile</a></li>
                            <li><a href="../index.html"><span class="fa fa-sign-out"></span> Logout</a></li>
                        </ul>

                    </div>
                    <!-- /sidebar -->
                    <!-- main-content -->

                    <div class="col-sm-9 main-content" ng-controller="subjectArea as subjectCtrl">


                        <div class="box-title">
                            <span class="headline">Subjects List </span>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="alt">
                        <div class="clearfix"></div>

                        <table class="table table-condensed table-responsive table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Sl. No</th>
                                <th>Subject</th>
                                <th>Scale</th>
                                <th>Duration</th>
                                <th>Total Question</th>
                                <th colspan="2">Actions</th>
                            </tr>

                            </thead>

                            <tbody>

                            <tr ng-repeat="subject in subjectCtrl.subjects">
                                <td>{{ $index+1 }}</td>
                                <td><a href="#" title="Add Questions">{{ subject.name}}</a></td>
                                <td>{{ subject.scale }}</td>
                                <td>{{ subject.total_question }}</td>
                                <td>{{ subject.test_time }}</td>
                                <td><a ng-click="subjectCtrl.editSubject($index);" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a ng-click="subjectCtrl.deleteSubject($index);" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr>

                           <!-- <tr>
                                <td>01</td>
                                <td><a href="#" title="Add Questions">Software Engineering</a></td>
                                <td>3.50</td>
                                <td>4.00</td>
                                <td>20 MCQ</td>
                                <td><a href="#" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a href="#" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td><a href="#" title="Add Questions">Nural Network</a></td>
                                <td>3.50</td>
                                <td>4.00</td>
                                <td>20 MCQ</td>
                                <td><a href="#" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a href="#" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td><a href="#" title="Add Questions">System Analysis &amp; Design</a></td>
                                <td>3.50</td>
                                <td>4.00</td>
                                <td>20 MCQ</td>
                                <td><a href="#" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a href="#" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td><a href="#" title="Add Questions">Data Structure &amp; Algorithm</a></td>
                                <td>3.50</td>
                                <td>4.00</td>
                                <td>20 MCQ</td>
                                <td><a href="#" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a href="#" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td><a href="#" title="Add Questions">Java Programming</a></td>
                                <td>3.50</td>
                                <td>4.00</td>
                                <td>20 MCQ</td>
                                <td><a href="#" class="edit-link text-primary"><label class="label label-info"><span class="fa fa-pencil"></span> Edit</label></a></td>
                                <td><a href="#" class="delete-link text-danger"><label class="label label-danger"><span class="fa fa-trash-o"></span> Delete</label></a></td>
                            </tr> -->
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p>*note: Click on a subject to add some question on it.</p>
                                </td>
                            </tr>
                            </tfoot>

                        </table>


                        <div class="clearfix"></div>

                        <!-- add-subject-form -->

                        <div class="form-wrapper">

                            <div class="box-title">
                                <span class="headline">Add New Subject</span>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="alt">
                            <div class="clearfix"></div>


                            <form class="form-inline" id="add-subject" ng-submit="subjectCtrl.addSubject();">
                                <div class="form-group">
                                    <input type="text" name="subject_name" ng-model="subjectCtrl.subject_name" class="form-control input-sm" placeholder="Subject Name" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject_scale" ng-model="subjectCtrl.subject_scale" class="form-control input-sm" placeholder="Scale / Grade" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="total_question" ng-model="subjectCtrl.total_question" class="form-control input-sm" placeholder="Total question" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="test_time" ng-model="subjectCtrl.test_time" class="form-control input-sm" placeholder="Duration in min" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="add_subject" class="btn btn-sm btn-success" value="Add Subject" />
                                </div>



                            </form>
                            <div class="clearfix"></div>

                        </div>

                    </div>
                    <!-- /main-content -->
                    <div class="clearfix"></div>

                    <footer>
                        <p>
                            &copy; 2016. All right Reserved
                            <span class="pull-right">Developed By: <strong>Jhon Doe</strong></span>
                        </p>
                    </footer>

                </div>
                <!-- /dashboard -->
                <div class="clearfix"></div>
            </div>



        </div>
    </div>

</section>

<!-- /application section -->

</body>
</html>