<div class="col-sm-3 sidebar relative" ng-controller="sidebarController">
    <div class="sidebar-content">

        <div class="user-icon">
            <div class="user-profile-img circle">
                <span class="fa fa-user fa-2x"></span>
            </div>
            <span class="user-name">{{  username }}<!--Jhon Doe --></span>
        </div>
        <div class="clearfix"></div>

        <hr class="alt">

        <div class="clearfix"></div>

        <ul class="sidebar-nav">
            <li><a href="#/admin/manage-user"><span class="fa fa-group"></span> User Accounts </a></li>
            <li><a href="#/admin/subject-management"><span class="fa fa-book"></span> Subjects </a></li>
            <li><a href="#/dashboard/edit-profile"><span class="fa fa-cogs"></span> Edit profile</a></li>
            <li><a href="#/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
        </ul>




    </div>
</div>
<!-- /sidebar -->