<div class="col-sm-3 sidebar relative">
    <div class="sidebar-content">
        <div class="user-icon">
            <div class="user-profile-img circle">
                <span class="fa fa-user fa-2x"></span>
            </div>
            <span class="user-name">Jhon Doe</span>
        </div>
        <div class="clearfix"></div>

        <hr class="alt">

        <div class="clearfix"></div>

        <ul class="sidebar-nav">
            <li><a href="#/dashboard/my-test"><span class="fa fa-book"></span> Subjects </a></li>
            <li><a href="#/dashboard/my-result"><span class="fa fa-signal"></span> My results</a></li>
            <li><a href="#/edit-profile"><span class="fa fa-cogs"></span> Edit profile</a></li>
            <li><a href="#/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
        </ul>

    </div>

</div>
<!-- /sidebar -->